<% provide(:title, 'Edit Transfer') %>
<% provide(:action, 'Edit Transfer') %>
<h1>Editing Transfer</h1>

<%= render 'shared/transfer_form', transfer: @transfer %>

<%= link_to 'Show', @transfer %> |
<%= link_to 'Back', transfers_path %>
