<footer class="footer">
  <small>
    The Online Retail Shop
    by <a href="mailto:avinash.narayana@gmail.com?Subject=Online%20Retail%20Shop">
      Avinash N Regulagadda</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>